target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

.idea

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.mvn
srimalar-sample-oauth/.idea
srimalar-sample-oauth/.mvn
srimalar-sample-oauth/target

srimalar-sample-webflux/.idea
srimalar-sample-webflux/.mvn
srimalar-sample-webflux/target

srimalar-sample-kafka/.idea
srimalar-sample-kafka/.mvn
srimalar-sample-kafka/target

srimalar-sample-kafka/.idea
srimalar-sample-kafka/.mvn
srimalar-sample-kafka/target

srimalar-sample-batch/.idea
srimalar-sample-batch/.mvn
srimalar-sample-batch/target

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

webpack-project
webpack-project/node_modules
webpack-project/dist
